.color-pads {
    width: 680px;
    height: 480px;
    border-radius: 20px;
    background-color: rgba(36, 201, 36, 0.651);
    position: relative;
    color: black;
    margin-left: 40px;
  }
  
  .card {
    width: 660px;
    height: 460px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    color: black;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 30px;
  }
  
  .big-year {
    color: #E8E8E8;
    font-size: 30px;
    float: right;
    position: relative;
    right: 75px;
    top: 20px;
    font-weight: bold;
  }
  
  .triangle-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #E8E8E8;
    border-bottom: 5px solid transparent;
    float: right;
    position: relative;
    right: 90px;
    top: 36px;
  }
  
  .triangle-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #E8E8E8;
    border-bottom: 5px solid transparent;
    float: right;
    position: relative;
    left: 20px;
    top: 36px;
  }

  .triangle-left:hover{
    border-right: 10px solid#2ECC71;
  }
  .triangle-right:hover{
    border-left: 10px solid#2ECC71;
  }

  .each-month:hover{
    color:#27e879;
  }

  .selected{
    font-weight: bold;
    color: #747978;
  }

  .selected-day{
    background-color: rgba(36, 201, 36, 0.651);
    display:block;
    height: 88%;
    width: 43%;
    border-radius:50%;
    margin:auto;
    line-height:44px;
    text-align: center;
  }

  /* .each-month:active{
    font-weight:bold;
  } */
  
  .months {
    color: #AAAAAA;
    position: relative;
    left: 20px;
    /* right: 10px; */
    top: 90px;
    word-spacing: 17px;
    text-align: center;
  }
  
  .month-line {
    border-color: #E8E8E8;
    position: relative;
    top: 85px;
    width: 85%;
    left: 10px;
  }

  .calendar-table {
    table-layout: fixed ;
    width: 100% ;
    position: relative;
    /* height: 280px; */
    height: 80%;
    top: 90px;

    text-align: center;
    vertical-align: center;
    /* padding: 15px; */
    /* word-spacing: 15px; */

  }
  
  .days-of-week {
    color: #AAAAAA;
    position: relative;
    font-size: 18px;
    word-spacing: 80px;
    font-weight: 600;
  }

  td {
    width: 25% ;
    height: 15% ;
  }

  #calendar-body {
    color: rgb(95, 92, 92);
  }

  [title~="today"] {
  font-weight: bolder;
  color: #BD0918
  }