.chart-container{
    margin-left: 60px;  
}

.donut-name{
    font-family: 'Abril Fatface';
    font-size: 30px; 
    color: rgb(1, 1, 49);
}

.bar-name{
    font-family: 'Abril Fatface';
    font-size: 30px; 
    color: rgb(1, 1, 49);
}

.bars{
    margin-left: 80px;  
}